.hero-video {
  position: relative;
  margin-top: 88px;
  text-align: center;    /* Center the iframe horizontally */
  padding: 20px 0;       /* Optional spacing */
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;

    /* Hide scrollbar (Chrome, Safari) */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.hero-video iframe {
  width: 90%;            /* Adjust width as needed */
  height:60vh;           /* Maintain aspect ratio */
  max-height: 300px;      /* Optional: cap the height */
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.left { left: 10px; }
.right { right: 10px; }

.heart-btn {
    font-size: 40px;       /* Makes the heart bigger */
    background: none;      /* Removes background */
    border: none;          /* Removes border */
    cursor: pointer;       /* Makes it clickable like a button */
    padding: 0;            /* Removes default padding */
    outline: none;
    justify-content: center;
    display: flex;
    align-items: center;         /* Removes focus outline */
}