{% extends 'master.html' %}
{% load static %}

{% block content %}
    <div class="hero" style="background: url('https://image.tmdb.org/t/p/original/{{randommovie.backdrop_path}}') center/cover no-repeat;
  display: flex;">

  <div class="hero-overlay"></div>

  <div class="hero-content">
    <h1 class="hero-title">{{randommovie.title}}</h1>

    <p class="hero-desc">
      {{randommovie.overview|truncatechars:100}}
    </p>
    <p class="hero-desc">
     <span style="color: red; font-weight: bold;">Released on </span>
     {{ randommovie.release_date|date:"jS M, Y" }}
    </p>
    <p class="hero-desc">
     <span style="color: red; font-weight: bold;">Rating </span>
     {{randommovie.vote_average|floatformat:1}}
    </p>

    <p class="hero-desc">
        {% if randommovie.adult %}
            <span style="color: red; font-weight: bold;">18+</span>
        {% else %}
        <span style="color: rgb(23, 188, 23); font-weight: bold;">UA</span>
        {% endif %}
    </p>

    <div class="hero-buttons">
      <button class="btn play"><a style="text-decoration: none;" href="{% url 'movie_details' randommovie.id %}">▶ Play</a></button>
      <button class="btn info">ℹ More Info</button>
    </div>
  </div>

</div>

<h2>Trending Movies</h2>

<div class="row-container">
    
    <button class="scroll-btn left">❮</button>

    <div class="movie-row" id="movieRow">
        {% for item in now_playing %}
        <div class="movie-card">
            {% if item.backdrop_path %}
                <a href="{% url 'movie_details' item.id %}"><img src="https://image.tmdb.org/t/p/w300{{ item.backdrop_path }}"></a>
            {% else %}
                <img src="/static/default.jpg">
            {% endif %}
            <h3>{{item.title}}</h3>
        </div>
        {% endfor %}
    </div>

    <button class="scroll-btn right">❯</button>

</div>


<h2>Popular Movies</h2>

<div class="row-container">
    
    <button class="scroll-btn left">❮</button>

    <div class="movie-row" id="movieRow">
        {% for item in data %}
        <div class="movie-card">
            {% if item.backdrop_path %}
                <a href="{% url 'movie_details' item.id %}"><img src="https://image.tmdb.org/t/p/w300{{ item.backdrop_path }}"></a>
            {% else %}
                <img src="/static/default.jpg">
            {% endif %}
            <h3>{{item.title}}</h3>
        </div>
        {% endfor %}
    </div>

    <button class="scroll-btn right">❯</button>

</div>

<h2>Top Rated Movies of all Time</h2>

<div class="row-container">
    
    <button class="scroll-btn left">❮</button>

    <div class="movie-row" id="movieRow">
        {% for item in toprated %}
        <div class="movie-card">
            {% if item.backdrop_path %}
                <a href="{% url 'movie_details' item.id %}"><img src="https://image.tmdb.org/t/p/w300{{ item.backdrop_path }}"></a>
            {% else %}
                <img src="/static/default.jpg">
            {% endif %}
            <h3>{{item.title}}</h3>
        </div>
        {% endfor %}
    </div>

    <button class="scroll-btn right">❯</button>

</div>

<h2>Upcoming Movies</h2>

<div class="row-container">
    
    <button class="scroll-btn left">❮</button>

    <div class="movie-row" id="movieRow">
        {% for item in upcoming %}
        <div class="movie-card">
            {% if item.backdrop_path %}
                <a href="{% url 'movie_details' item.id %}"><img src="https://image.tmdb.org/t/p/w300{{ item.backdrop_path }}"></a>
            {% else %}
                <img src="/static/default.jpg">
            {% endif %}
            <h3>{{item.title}}</h3>
        </div>
        {% endfor %}
    </div>

    <button class="scroll-btn right">❯</button>

</div>
{% endblock %}


