{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>RCFlix Movies and shows</title>
<link rel="icon" type="image/x-icon" href="{% static 'appmovie/favicon.png' %}">
<link rel="stylesheet" href="{% static 'appmovie/master.css' %}">

{% block page_css %}{% endblock %}
</head>

<body>
<header class="navbar">
      <div class="page-links">
        <h1 class="logo">RCFlix</h1>
        <nav>
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'series' %}">Series</a>
          <a href="{% url 'home' %}">Films</a>
          <a href="#">New & Popular</a>
          <a href="#">My List</a>
          <!-- <a href="#">Browse by languages</a> -->
          <a href="{% url 'search_multi' %}">Search</a>
        </nav>
      </div>
      <aside class="operational-btns">
        <i class="fa fa-search" aria-hidden="true"></i>
        <h3 class="audience-btn"></h3>
        <i class="fa fa-bell" aria-hidden="true"></i>
        <i class="fa fa-user" aria-hidden="true"></i>
      </aside>
    </header>

    {% block content %}
    {% endblock %}
  
</body>

<script type="module">
    import ScrollBar from "../static/appmovie/scroll.js";
    ScrollBar();
</script>

<style>
  .logo {
  color: red;
  font-size: 32px;
  font-weight: bold;
  margin-right: 30px;
  margin-left: 20px;
}
</style>
</html>