{% extends 'master.html' %}
{% load static %}

{% block content %}
<div class="page" style="margin-top: 50px;">

  <!-- SEARCH -->
  <<div class="search-section">
    <form method="GET" action="{% url 'search_multi' %}" class="search-box">
      <input type="text" name="q" placeholder="Search movies, TV, people..." required>
      <button type="submit">Search</button>
    </form>
  </div>
<!-- CARDS -->
  <div class="cards-container">
    
  {% for item in multi %}
  {% if item.poster_path or item.profile_path %}
    <div class="card">
      
     {% if item.media_type == "person" and item.profile_path %}
  <a href="{% url 'person_info' item.id %}">
    <img src="https://image.tmdb.org/t/p/w300{{ item.profile_path }}" alt="">
  </a>

{% elif item.media_type == "tv" and item.poster_path %}
  <a href="{% url 'series_details' item.id %}">
    <img src="https://image.tmdb.org/t/p/w300{{ item.poster_path }}" alt="">
  </a>

{% elif item.media_type == "movie" and item.poster_path %}
  <a href="{% url 'movie_details' item.id %}">
    <img src="https://image.tmdb.org/t/p/w300{{ item.poster_path }}" alt="">
  </a>

{% endif %}
<h3>
        {% if item.title and item.title != "None" %}
  {{ item.title }}
{% else %}
  {{ item.name }}
{% endif %}
    </h3>
    </div>
    
    {% endif %}
  {% endfor %}
</div>
<style>
    .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
  padding: 20px 40px;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  font-size: 13px;
  margin-top: 6px;
  text-align: center;
}

.card {
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.search-section {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.search-box {
  display: flex;
  width: 400px;
}

.search-box input {
  width: 300px;
  padding: 12px;
  border-radius: 6px 0 0 6px;
  border: none;
  outline: none;
}

.search-box button {
  padding: 12px 18px;
  border: none;
  background: #e50914;
  color: white;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

.card {
  text-align: center;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.card h3 {
  margin-top: 10px;
  font-size: 14px;
  color: white;
}
</style>

{% endblock %}